/.idea/
/wp-admin/
/wp-content/*
!/wp-content/plugins/
!/wp-content/themes/
/wp-content/plugins/*
/wp-content/themes/*
!/wp-content/themes/middletest/
/wp-content/themes/middletest/.idea/
/wp-content/themes/middletest/node_modules/
/wp-content/themes/middletest/src/
/wp-content/themes/middletest/vendor/
/wp-content/themes/middletest/composer.*
/wp-content/themes/middletest/package.*
/wp-content/themes/middletest/webpack.mix.js
/wp-content/themes/middletest/mix-manifest.json
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/wp-config.php
/xmlrpc.php
/vendor